<div class="container">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 login-box text-center">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
        <h3 class="into-title">Resend confirmation instructions</h3>
          <div class="col-sm-12 form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'e-mail' %>
          </div>
          <div class="login-botons">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-success btn-lg' %><br/>
          </div>
          <div class="login-botons">
            <%= link_to "Back Home", root_path, class: "btn btn-default btn-lg" %>
          </div>
        <% end %>
            <%= render "devise/shared/links" %>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container-fluid">
  <!-- /END THE FEATURETTES -->     
  <div class="login-hulk"></div>
  <!-- FOOTER -->
</div>

<!-- Placed at the end of the document so the pages load faster -->
<!--link href="css/style.css" rel="stylesheet" -->

<script>
  wow = new WOW(
    {
      offset:       200          // default
    }
  )
  new WOW().init();
</script>
