
    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand" do %>
            <i class="fa fa-arrow-circle-left"></i> Back home
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-edit"></i> Edit Profile
              <% end %>
            </li>
            <li><a href="settings.html"><i class="fa fa-cog"></i> Settings</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>My Profile</h1>
            <div class="breadcrumb">
              <p>If you want to ask hulk a break enter <a href="request.html">here</a>.</p>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-6 zposition">

            <div class="col-lg-6">
              <div class="container-user">
                <% if current_user.user_avatar? %>
                  <%= image_tag current_user.user_avatar_url(:large).to_s %>
                <% else %>
                  <%= image_tag current_user.gravatar_url(size: 320) %>
                <% end %>
              </div>

              <!-- Desde AQUI formulario -->
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <label>File input</label>
                <%= f.file_field :user_avatar, class: 'form-control', placeholder: 'avatar' %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.text_field :username , autofocus: true, class: 'form-control', placeholder: 'user' %>
              </div>

              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                <%= f.email_field :email, class: 'form-control', placeholder: 'e-mail' %>
              </div>

              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
              </div>
              <p class="help-block">(leave blank if you don't want to change it)</p>

              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
              </div>

              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
              </div>
              <p class="help-block">(we need your current password to confirm your changes)</p>

              <%= f.submit "Update", class: 'btn btn-success btn-lg' %>
              <% end %>
              <div>
            </div>
            <!-- Hasta AQUI formulario -->
            </div>
            <div class="clear"></div>
            <h1>Mercy</h1>
            <div class="breadcrumb">
              <p>This is for change turns.</p>
            </div>

            <% if current_user.is_admin == true || @user_turn_to_day.user == current_user %>
              <div class="col-sm-4">
                <div class="panel panel-info-profile">
                  <div class="panel-heading-profile">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <h3>Rotate</h3>
                        <p>You can rotate your turn with the next <b>Washer</b>.</p>
                      </div>
                    </div>
                  </div>
                  <a href="#">
                    <div class="panel-footer announcement-bottom">
                      <div class="row">
                        <div class="col-xs-12 text-center">
                          <%= link_to 'Ask for', rotate_turn_with_next_washer_turns_path, class: 'btn btn-default' %>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>

            <div class="col-sm-4">
              <div class="panel panel-info-profile">
                <div class="panel-heading-profile">
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <h3>Holidays</h3>
                      <p>Sorry Hulk, I´ll be in Holidays!.</p>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <%= link_to "Sorry", new_vacation_path, class: "btn btn-default" %>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="panel panel-info-profile">
                <div class="panel-heading-profile">
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <h3>Unhappy?</h3>
                      <p>I you want to Cancel your account.</p>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <%= button_to "Unsubscribe", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default"%>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
            <div class="col-sm-6 no-padding-right">
              <%= image_tag("platos.png", class:"platos") %>
              <%= image_tag("bar.png", class:"bar") %>
              <div class="bar"></div>
              <p class="faqs">FAQs, Recomendation? <a href="www.hashdog.com">Please let us know</a>.</p>
            </div>

        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->
