<h1>Washer soldiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @team.each do |team| %>
      <tr>
        <td><%= team.username %></td>
        <% if team.user_avatar? %>
          <td><%= image_tag team.user_avatar_url(:thumb).to_s %></td>
        <% else %>
          <td><%= image_tag avatar_url(team) %></td> <%# this line call the helper to obtain the gravatar for user -- rebuild properly%>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_admin_path %>
<%= link_to 'Assign a wash day', random_turn_turn_to_washes_path %>

