    <div class="navbar-wrapper">

      <div class="container">
        <div class="navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav animated fadeInDown">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default menu" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Navegation <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="my-turn.html"><i class="glyphicon glyphicon-calendar"></i> Full Calendar</a></li>
                    <li><a href="my-turn.html"><i class="glyphicon glyphicon-question-sign"></i> When I Wash</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Configuration</li>
                    <li><a href="admin/index.html"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
                    <li><a href="admin/settings.html"><i class="glyphicon glyphicon-user"></i> Settings</a></li>
                    <li><a href="login.html"><i class="glyphicon glyphicon-log-out"></i> Log In</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <header>
        <div class="logo-middle animated lightSpeedIn">
          <%= link_to image_tag('logo.png'), admins_path %>
          <div class="line"></div>
        </div>
      </header>
    </div>

    <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-3">
          <ul class="washer-list">
            <li></li>
            <% if @turns[6].user.user_avatar? %>
              <li>
                <%= link_to image_tag(@turns[6].user.user_avatar_url(:thumb).to_s, class: 'img-rounded next-washer falling-next-3'), admins_path%><span> <p> <%= @turns[6].date_turn %> </p></span>
              </li>
            <% else %>
              <li><%= link_to image_tag(avatar_url(@turns[6].user), class: 'img-rounded next-washer falling-next-3'), admins_path %><span> <p> <%= @turns[6].date_turn %> </p></span></li>
            <% end %>
            
            <% if @turns[5].user.user_avatar? %>
              <li>
                <%= link_to image_tag(@turns[5].user.user_avatar_url(:thumb).to_s, class: 'img-rounded next-washer falling-next-2'), admins_path%><span> <p> <%= @turns[5].date_turn %> </p></span>
              </li>
            <% else %>
              <li><%= link_to image_tag(avatar_url(@turns[5].user), class: 'img-rounded next-washer falling-next-2'), admins_path %><span> <p> <%= @turns[5].date_turn %> </p></span></li>
            <% end %>
            
            <% if @turns[4].user.user_avatar? %>
              <li><%= link_to image_tag(@turns[4].user.user_avatar_url(:thumb).to_s, class: 'img-rounded next-washer falling-next-1'), admins_path%><span> <p> <%= @turns[4].date_turn %> </p></span></li>
            <% else %>
              <li><%= image_tag avatar_url(@turns[4].user), class: 'img-rounded next-washer falling-next-1' %><span> <p> <%= @turns[4].date_turn %> </p></span></li>
            <% end %>

              
              <div class="u-are-next"><p>Are you Ready?</p></div>
              <% if @turns[3].user.user_avatar? %>
                <li><%= link_to image_tag(@turns[3].user.user_avatar_url(:thumb).to_s, class: 'img-rounded tomorrow-washer falling-tomorrow'), admins_path%> <span> <p> <%= @turns[3].date_turn %> </p></span>
                </li>
              <% else %>
                <li><%= image_tag avatar_url(@turns[3].user), class: 'img-rounded nexwasher falling-next-1' %><span> <p> <%= @turns[3].date_turn %> </p></span></li>
              <% end %>
            <li>
            <% if @turns[2].user.user_avatar? %>
              <%= link_to image_tag(@turns[2].user.user_avatar_url(:thumb).to_s, class: 'img-rounded today-washer falling-today'), admins_path %>
            <% else %>
              <%= image_tag avatar_url(@turns[2].user), class: 'img-rounded today-washer falling-today' %>
            <% end %>
              <h3 class="username"><%= @turns[2].user.username %></h3>
              <span> <p> <%= @turns[2].date_turn %> </p></span>
            </li>
          </ul>
        </div><!-- /.col-lg-4 -->

        <div id="delay-hulk" class="col-sm-6 animated bounceIn">
          <div class="bubble">
            <h2>Lets play <strong>Hulk Said!</strong>.</h2>
            <h3>I Said he going to clean dishes today!</h3>
          </div>
          <%= image_tag('hulk-said.gif', class: 'hulk-said') %>
        </div><!-- /.col-lg-4 -->

        <div id="delay-calendar" class="col-sm-3 animated bounceInDown">
          <div class="date">
            <p class="month"><%= Time.now.strftime("%b") %></p>
            <p class="day"><%= Time.now.strftime("%d") %></p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="container-fluid pre-footer">
      <!-- START THE FEATURETTES -->

      <hr class="divider-dish wow animated slideInLeft">

      <!-- /END THE FEATURETTES -->

      <div class="col-sm-12">
        <div class="col-sm-6 table-responsive wow animated fadeInDown">
          <div class="pendant"></div>
          <table class="table table-bordered">
            <thead class="header">
              <tr>
                <th colspan="5">Last Washers</th>
              </tr>
            </thead>
            <tbody>
            <tr class="active text-center week-days">
              <td><%= @turns[0].date_turn.strftime("%a") %></td>
              <td><%= @turns[1].date_turn.strftime("%a") %></td>
              <td class="wash_today"><%= @turns[2].date_turn.strftime("%a") %></td>
              <td><%= @turns[3].date_turn.strftime("%a") %></td>
              <td><%= @turns[4].date_turn.strftime("%a") %></td>
            </tr>
            <tr class="active">
              <td>
                <% if @turns[0].user.user_avatar? %>
                  <%= link_to image_tag(@turns[0].user.user_avatar_url(:thumb).to_s, class: 'whasher-list'), admins_path %>
                <% else %>
                  <%= image_tag avatar_url(@turns[0].user), class: 'whasher-list' %>
                <% end %>
              </td>
              <td>
                <% if @turns[1].user.user_avatar? %>
                  <%= link_to image_tag(@turns[1].user.user_avatar_url(:thumb).to_s, class: 'whasher-list'), admins_path %>
                <% else %>
                  <%= image_tag avatar_url(@turns[1].user), class: 'whasher-list' %>
                <% end %>
              </td>
              <td class="wash_today">
                <% if @turns[2].user.user_avatar? %>
                  <%= link_to image_tag(@turns[2].user.user_avatar_url(:thumb).to_s, class: 'whasher-list'), admins_path %>
                <% else %>
                  <%= image_tag avatar_url(@turns[2].user), class: 'whasher-list' %>
                <% end %>
              </td>
              <td>
                <% if @turns[3].user.user_avatar? %>
                  <%= link_to image_tag(@turns[3].user.user_avatar_url(:thumb).to_s, class: 'whasher-list'), admins_path %>
                <% else %>
                  <%= image_tag avatar_url(@turns[3].user), class: 'whasher-list' %>
                <% end %>
              </td>
              <td>
                <% if @turns[4].user.user_avatar? %>
                  <%= link_to image_tag(@turns[4].user.user_avatar_url(:thumb).to_s, class: 'whasher-list'), admins_path %>
                <% else %>
                  <%= image_tag avatar_url(@turns[4].user), class: 'whasher-list' %>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="marquee"></div>
      </div><!-- /.col-lg-4 -->      
      <div class="clear"></div>
      <!-- FOOTER -->
      <footer class="animated fadeInUp">
        <p class="comp"><a href="http://hashdog.io">Dishwasher App</a> - 2014</p>
        <p class="dev">By <a href="http://www.hashdog.com">Hashdog Software Factory</a>.</p>
      </footer>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      wow = new WOW(
        {
          offset:       200          // default
        }
      )
      new WOW().init();
    </script>

<%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>