<h1>Listing turn_to_washes</h1>

<table>
  <thead>
    <tr>
      <th>Dateturn</th>
      <th>Datename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turn_to_washes.each do |turn_to_wash| %>
      <tr>
        <td><%= turn_to_wash.dateturn %></td>
        <td><%= turn_to_wash.datename %></td>
        <td><%= link_to 'Show', turn_to_wash %></td>
        <td><%= link_to 'Edit', edit_turn_to_wash_path(turn_to_wash) %></td>
        <td><%= link_to 'Destroy', turn_to_wash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn to wash', new_turn_to_wash_path %>
