<%= render 'layouts/nav_bar_admin.html.erb' %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h1>
        This is the team for <%= current_user.organization.name.upcase %>
      </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <td>Name</td>
          <td>e-mail</td>
          <td>Avatar</td>
        </thead>
        <tbody>
          <% @team.each do |member| %>
          <% if member.is_admin == true %>
            <tr class='success'>
          <%else%>
            <tr>
          <% end %>
              <td>
                <%= member.username %>
              </td>
              <td>
                <%= member.email %>
              </td>
              <% if member.user_avatar? %>
                <td><%= image_tag member.user_avatar_url(:thumb).to_s %></td>
              <% else %>
                <td><%= image_tag avatar_url(member) %></td> <%# this line call the helper to obtain the gravatar for user -- rebuild properly%>
              <% end %>
              <td>
                <%= link_to 'ROTATE', rotate_turn_with_next_washer_turns_path(@user, username: member.username), class:"btn btn-success btn-xs" %>
              </td>
              <td>
                <%= link_to "Give Vacation", new_vacation_path(@user, username: member.username), class:"btn btn-default btn-xs" %>
              </td>
              <td>
                <%= link_to "Toogle To Admin", toogle_admin_admin_user_path(@user, id: member.id), method: :patch, class:"btn btn-success btn-xs" %>
              </td>
              <td>
                <%= link_to admin_user_path(member), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-warning btn-xs" do %>
                  <i class="glyphicon glyphicon-remove-circle"></i> Delete
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= link_to root_path, class:"btn btn-default btn-lg" do %>
      <i class="glyphicon glyphicon-home"></i>
      Home
    <% end %>
    <%= link_to new_admin_user_path, class:"btn btn-success btn-lg" do %>
      <i class="glyphicon glyphicon-user"></i>
      New Member
    <% end %>
    <% if current_user.is_admin == true %>
      <%= link_to regenerate_turns_turns_path, class:"btn btn-warning btn-lg" do %>
        <i class="glyphicon glyphicon-user"></i>
        Regenerate Turns
      <% end %>
    <% end %>

  </div>
</div>

<div class="container-fluid">
  <!-- /END THE FEATURETTES -->     
  <div class="table-hulk"></div>
  <!-- FOOTER -->
  <footer class="animated fadeInUp">
    <p class="comp"><a href="http://hashdog.io">Dishwasher App</a> - 2014</p>
    <p class="dev">By <a href="http://www.hashdog.com">Hashdog Software Factory</a>.</p>
  </footer>
</div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!--link href="css/style.css" rel="stylesheet" -->
    
    <script>
      wow = new WOW(
        {
          offset:       200          // default
        }
      )
      new WOW().init();
    </script>