<h2>Add new user for the washerTeam</h2>

<%= form_for @team, url: admin_users_path(@user), html: { method: :post } do |f|  %>
<%= devise_error_messages! %>
	<div>
		<%= f.label :username %> <br>
		<%= f.text_field :username %>
	</div>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>

<% end %>

