<div class="navbar-wrapper">

    <div class="navbar animated fadeInDown secondary" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav mobile-nav">
              <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Full Calendar</a></a></li>
              <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> When I Wash</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li>
                <%= link_to admin_users_path do%>
                  <i class="glyphicon glyphicon-tree-deciduous"></i> Team
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="glyphicon glyphicon-user"></i> Edit Profile
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i> Log out
                <% end %>
              </li>
            </ul>

            <ul class="nav navbar-nav single-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default brown-menu menu" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Navegation <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Full Calendar</a></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> When I Wash</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                  <li>
                    <%= link_to admin_users_path do%>
                      <i class="glyphicon glyphicon-tree-deciduous"></i> Team
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="glyphicon glyphicon-user"></i> Edit Profile
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                      <i class="glyphicon glyphicon-log-out"></i> Log out
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <header>
        <div class="logo-middle animated lightSpeedIn">
          <%= link_to image_tag('logo.png'), root_path, class: 'logo-home' %>
          <%= link_to image_tag('logo-mobile.png'), root_path, class: 'responsive-logo' %>
          <div class="line"></div>
        </div>
      </header>
</div>